

body {
    font-family: sans-serif;
    margin: 0px;
}

#toolbar {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}



#toolbar button {
    border: 0px;
    height: 15px; 
    color: #095c27;  
    font-size: medium; 
    background-color: transparent;
    margin: 20px;

}

#toolbar button:hover {
    border: 0px;
    height: 15px; 
    color: #1a9346;  
    font-size:large; 
    background-color: transparent;
    margin: 20px;

} 

#container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-left {
    display: flex;
    justify-content: flex-start;
    margin: 0px 30px 0px 30px;
    
}

#map {
    height: 600px; /* The height is 400 pixels */
    width: 70%; /* The width is the width of the web page */
    border-radius: 10px;

  }