<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link rel="stylesheet" href="static/dogWalker/styles.css">
    <script src="static/dogWalker/main.js"></script>
    <title>DogWalker</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>