{% extends "mainPage/layout.html" %}
{% block body %}

    <div id="toolbar">
        <div id='home'>
            <h1 id='logo'>Scout</h1>
        </div>
        <div id='tabs'>
            <button id='profile'>Profile</button>
            <button id='create'>Create Route</button>
            <button id='discover'>Discover Routes</button>
            <button id='myRoutes'>My Routes</button>
        </div>
    </div>

    <div id=content>
        <div id='profile-view'>
            <h1>Profile View</h1>
        </div>


        <div id="create-view">
            <div id='container-left'>
                <h2>Create a Route</h2>
            </div>
            <div id='container-center'>
                <div id="map"></div>
                <script src='https://maps.googleapis.com/maps/api/js?key={{apiK}}&callback=initMap' defer></script>
            </div>
            <div id='container-center'>
                <form>
                    <input id='route-name' type="text" placeholder="Name of route">
                    <textarea id='description'>Describe your route here!</textarea>
                    <input id='distance' type="number" placeholder="Distance">
                </form>
            </div>
        </div>


        <div id="browse-view">
            <h1>Discover View</h1>
        </div>


        <div id="myRoutes-view">
            <h1>My Routes View</h1>
        </div>
    </div>
    
{% endblock %}
